#parse("Admin/Head.htm")
<p><a href="ProductEdit.ashx?Action=AddNew">新增产品</a></p>
<table>
    <thead>
        <tr><td>编辑</td><td>删除</td><td>名称</td><td>类别</td></tr>
    </thead>
    <tbody>
       
        #foreach($p in $Model.Products)
         <tr><td><a href="ProductEdit.ashx?Action=Edit&Id=$p.Id">编辑</a></td>
         <td><a href="ProductEdit.ashx?Action=Delete&Id=$p.Id">删除</a></td><td>$p.Name</td><td>$p.CategoryName</td></tr>
        #end
    </tbody>
</table>

#parse("Admin/Foot.htm")